<section id="event" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Péntek esti üdvözlő parti</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>Esemény</dt>
                    <dd>
                        A távolról érkező szeretteink lazítani tudnak a hosszú út után, a másnapi izgalmak előtt.
                    </dd>
                    <dt>Időpont</dt>
                    <dd>Check-in: 2025. augusztus 1. (péntek) 14:00-tól<br>
                        Check-out: 2025. augusztus 3. (vasárnap) 12:00-ig
                    </dd>
                    <dt>Szállás</dt>
                    <dd>
                        <address>
                            <a href="https://maps.app.goo.gl/6WTWdG8F3874TADL8">Novák Ház<br>8083 Csákvár, Kossuth utca 1.</a><br>
                            Telefon: <a href="tel:+36 30 378 0347">+36 30 378 0347</a>
                        </address>
                    </dd>
                    <dt>Költségek</dt>
                    <dd>A félreértések elkerülése érdekében: szállás és az ellátás költségeit előre rendeztük!</dd>
                    <dt>Ellátás</dt>
                    <dd> A péntek esti közös vacsora, szombati reggeli és ebéd, valamint a vasárnapi reggeli is a
                        sétatávra lévő Publo Panzió éttermében történik.
                    </dd>
                    <dt>Parkolás</dt>
                    <dd>
                        A ház belső udvarán, vagy az épülettel szemben lévő közterületen kialakított
                        ingyenes parkolóban.<br>
                        Érkezés előtt kérlek hívd fel Ágit vagy Tibit,
                        hogy segíthessünk a szálláson lévő belső udvar foglaltságával kapcsolatban!
                    </dd>
                    <dt>Egyéb info</dt>
                    <dd>
                        A szálláson alapvetően 4 fős, légkondicionált szobák vannak, saját fürdőszobával.
                        Ha szeretnél, tudunk 2 fős szobát is intézni a közelben, de kérlek időben jelezd az igényed!
                        Továbbá van medence, készülj fürdőzésre is!
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>
<section id="saturday-event-tulip" class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Szombati érkezés - Tulipános kapu</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>Kik</dt>
                    <dd>Baricska, Biró és Varga család</dd>
                    <dt>Hol</dt>
                    <dd>
                        <address>
                            <a href="https://maps.app.goo.gl/aqXqxV4iRgXbeDsA9">Tulipános Kapu Vendégház<br>8073, Csákberény, Bajcsy-Zsilinszky u. 66.</a><br>
                            Telefon: <a href="tel:+36 20 441 5046">+36 20 441 5046</a>
                        </address>
                    </dd>
                    <dt>Mikor</dt>
                    <dd>Check-in: 2025. augusztus 2. (szombat) érkezés előtt 1 órával kérlek hívjátok fel a tulajt<br>
                        Check-out: 2025. augusztus 3. (vasárnap) 12:00-ig
                    </dd>
                    <dt>Szállásról</dt>
                    <dd>
                        2 fős szobák
                    </dd>
                    <dt>Reggeli</dt>
                    <dd>
                        Svédasztalos reggeli a Publo étteremben<br>Vasárnap 8:30-tól 10:30-ig
                    </dd>
                    <dt>Költségek</dt>
                    <dd>A félreértések elkerülése érdekében: szállás és az ellátás költségeit előre rendeztük!</dd>
                    <dt>Parkolás</dt>
                    <dd>
                        A vendégház udvarán
                    </dd>
                    <dt>Transzfer</dt>
                    <dd>
                        Indulás: 16:00 privát sofőrrel, Attilával: <a href="tel:+36 70 292 9622">+36 70 292 9622</a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>
<section id="saturday-event-safran" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Szombati érkezés - Sáfrán pince</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>Kik</dt>
                    <dd>Luczek család</dd>
                    <dt>Hol</dt>
                    <dd>
                        <address>
                            <a href="https://maps.app.goo.gl/f699wuRafaNLLHzNA">Sáfrán pince<br>8073, Csákberény Szőlőhegy út - Csákberényi borút Hrsz 1557</a><br>
                            Telefon: <a href="tel:+36 20 495 3103">+36 20 495 3103</a>
                        </address>
                    </dd>
                    <dt>Mikor</dt>
                    <dd>Check-in: 2025. augusztus 2. (szombat) 14:00-tól<br>
                        Check-out: 2025. augusztus 3. (vasárnap) 12:00-ig
                    </dd>
                    <dt>Szállásról</dt>
                    <dd>
                        2 fős szobák kisággyal.
                    </dd>
                    <dt>Reggeli</dt>
                    <dd>
                        Svédasztalos reggeli a Publo étteremben<br>Vasárnap 8:30-tól 10:30-ig
                    </dd>
                    <dt>Költségek</dt>
                    <dd>A félreértések elkerülése érdekében: szállás és az ellátás költségeit előre rendeztük!</dd>
                    <dt>Parkolás</dt>
                    <dd>
                        A vendégház udvarán
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>
<section id="saturday-event-kilroy" class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Szombati érkezés - Kilroy</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>Kik</dt>
                    <dd>Nagy és Ádám család</dd>
                    <dt>Hol</dt>
                    <dd>
                        Az esküvő helyszínén<br>
                        <address>
                            <a href="https://maps.app.goo.gl/GfbUN44tin9Z1gc36"> Kilroy Was Here<br>8073 Csákberény, Rákóczi utca 25.</a>
                        </address>
                    </dd>
                    <dt>Mikor</dt>
                    <dd>Check-in: 2025. augusztus 2. (szombat) 14:00-tól<br>
                        Check-out: 2025. augusztus 3. (vasárnap) 12:00-ig
                    </dd>
                    <dt>Szállásról</dt>
                    <dd>
                        Egy 2 fős szoba és egy 4 fős szoba.
                    </dd>
                    <dt>Reggeli</dt>
                    <dd>
                        Svédasztalos reggeli a Publo étteremben<br>Vasárnap 8:30-tól 10:30-ig
                    </dd>
                    <dt>Költségek</dt>
                    <dd>A félreértések elkerülése érdekében: szállás és az ellátás költségeit előre rendeztük!</dd>
                    <dt>Parkolás</dt>
                    <dd>
                        Helyszín előtti parkolóban
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>
<section id="saturday-event-publo" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Szombati érkezés - Publo Panzió</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>Kik</dt>
                    <dd>Mindenki más</dd>
                    <dt>Hol</dt>
                    <dd>
                        <address>

                            <a href="https://maps.app.goo.gl/b7qZTidMT1BSFYFU7">Publo Étterem és Panzió<br>8083 Csákvár,
                                Szent Mihály tér
                                9.</a><br>
                            Telefon: <a href="tel:+36 30 378 0347">+36 30 378 0347</a>
                        </address>
                    </dd>
                    <dt>Mikor</dt>
                    <dd>Check-in: 2025. augusztus 2. (szombat) 14:00-tól<br>
                        Check-out: 2025. augusztus 3. (vasárnap) 12:00-ig
                    </dd>
                    <dt>Szállásról</dt>
                    <dd>
                        Részben légkondicionált (viharkár múlt hétvégéről)<br>2 fős szobák, családoknak 3 fős szobák és egy 4 fős szoba
                    </dd>
                    <dt>Reggeli</dt>
                    <dd>
                        Svédasztalos reggeli<br>Vasárnap 8:30-tól 10:30-ig
                    </dd>
                    <dt>Költségek</dt>
                    <dd>A félreértések elkerülése érdekében: szállás és az ellátás költségeit előre rendeztük!</dd>
                    <dt>Parkolás</dt>
                    <dd>
                        A panzió belső udvarában (limitált), vagy a kb. 50 m-re lévő közterületen kialakított ingyenes
                        parkolóban.
                    </dd>
                    <dt>Transzfer</dt>
                    <dd>
                        Gyülekezés: 15:45 a panzió előtt<br>
                        Indulás: 16:00<br>
                    </dd>
                    <dt>Lekéstem!</dt>
                    <dd>
                        Ha lekésnétek a transzfert, akkor hívjátok fel profi sofőrünket, Attilát: <a href="tel:+36 70 292 9622">+36 70 292 9622</a><br>vagy kérlek saját autóval gyertek az esküvői helyszínre!
                    </dd>

                </dl>
            </div>
        </div>
    </div>
</section>
