<div class="container">
    <div class="row">
        <div class="col-lg-12 ">
            <h2 class="section-heading text-center">Az esküvő</h2>
            <hr class="primary">
            <dl class="dl-horizontal lead">
                <dt>Mikor</dt>
                <dd>2025. augusztus 2. (szombat)</dd>
                <dt>Hol</dt>
                <dd>
                    <address>
                        <a href="https://maps.app.goo.gl/GfbUN44tin9Z1gc36 ">Kilroy Was Here<br>8073 Csákberény, Rákóczi utca 25.</a>
{#                        Telefon: <a href="tel:+36 30 378 0347">+36 30 378 0347</a>#}
                    </address>
                </dd>
                <dt>Mire készülj</dt>
                <dd>Jó idő esetén az esemény kültéri</dd><br>
                <dt>Vendégvárás</dt>
                <dd>16:00-tól</dd>
                <dt>Szertartás</dt>
                <dd>17:00</dd>
                <dt>Vacsora</dt>
                <dd>19:30</dd>
                <dt>Torta</dt>
                <dd>22:30</dd>
                <dt>Parti vége</dt>
                <dd>04:00</dd>
                <dt>Másnapi reggeli</dt>
                <dd>10:00 (opcionális)</dd><br>
                <dt>Transzfer</dt>
                <dd>
                    A szállás és az esküvői helyszín között transzfert biztosítunk.
                </dd>
            </dl>
        </div>
    </div>
</div>
