{#<header id="second-header" class="secondary"></header>#}
{#<h5 class="text-center text-muted">The view of Hout Bay from from Chapman's peak the day we got engaged.</h5>#}
<section id="proposal">
    <div class="container">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Lánykérés</h2>
            <hr class="primary">
            <p>
                Egy novemberi éjszaka hegyi túrára indultunk a Sínai-hegyen. A csillagos égbolt
                alatt koromsötétben túrázva feljutottunk 2285m-re, a Mózes-hegyre. Másnap reggel a
                horizonton felbukkanó Nap nem csak egy új nap elejét jelezte, hanem közös életünk kezdetét is.
            </p>
        </div>
    </div>
</section>
